/* Brown Color CSS */

body{
	border-top:3px solid #cd3301;
	background-image: none;
}
header {
	background-image: none;
}
.color{
	color:#cd3301;
}

a, a:visited{
	color:#cd3301;
}

a:hover{
	color:#006f9f;
}

.navbar{
	background: #cd3301 !important;
	border-top:1px solid #999 !important;
	border-bottom:1px solid #999 !important; 
	min-height: 38px;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
   border-color: #006f9f;
}

.navbar button{
	background:#006f9f !important;  
}

.navbar button:hover{
	background:#006f9f !important;
}

.navbar .nav{
	border-right:1px solid #999;
}

.navbar .nav > li > a{
	padding: 9px 15px;
	background: #cd3301; 
	border-left:1px solid #999;
}

.navbar .nav > li > a:hover{
	background:#006f9f !important;
	transition: none;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
background: #006f9f !important;
}

.dropdown-toggle{
background: #cd3301 !important;
}


.dropdown-menu{
background:#cd3301 !important;
border:1px solid #006f9f;
}

.dropdown-menu a{
background:#cd3301 !important;
border-bottom:1px solid #006f9f;
}

.dropdown-menu a:hover,.dropdown-menu a:focus{
	background:#006f9f !important;
	transition: none;
}

.social i{
background:#cd3301;
}

.social i:hover{
background:#006f9f;
}

.flex-caption{
border-left:4px solid #cd3301;
}

.service i{
color:#cd3301;
}

/* Timeline */

.time .tidate{
background:#cd3301;
}

.time .timatter{
border-bottom:2px solid #cd3301;
}

/* Events - Accordion*/

.events .accordion-heading h5{
background:#cd3301;
}

/* Slider */

.da-slider{
border-top: 4px solid #cd3301;
border-bottom: 4px solid #cd3301;
}

.da-slide h2{
color:#cd3301;
}

.da-slide .da-link{
background:#cd3301;
}

/* Testimonial */

.test{
border-bottom:2px solid #cd3301;
}

.test-arrow{
border-top-color: #cd3301;
}

/* Feature alt */

.afeature:hover{
border:5px solid #cd3301;
}

.afmatter i{
color:#cd3301;
}

.rpost1:hover,.rpost2:hover{
border-bottom:2px solid #cd3301;
}

.accordion-heading i{
color:#cd3301;
}

.process i{
color:#cd3301;
}

.process-meta span{
background:#cd3301;
}

.feat h4 i{
color:#cd3301;
}

.content ul li{
background-image:url('../img/list-y.png');
}

.blog .meta i{
color:#cd3301;
}

.posts .tags a{
background:#cd3301;
border:1px solid #006f9f;
border-bottom:3px solid #006f9f;
}

.posts .tags a:hover{
border-bottom:3px solid #cd3301;
background:#006f9f;
border:1px solid #006f9f;
}

.paging a:hover{
background: #cd3301;
border:1px solid #006f9f;
}

.paging .current{
background: #cd3301;
border:1px solid #006f9f;
}

.serv .simg i{
color:#cd3301;
}

.button a, .button a:visited{
background:#cd3301;
border-bottom:2px solid #006f9f;
}

.button a:hover{
background:#006f9f;
}

.pricel .phead-top{
background:#cd3301;
border:1px solid #006f9f;
}

.pricel .phead-bottom{
border-top:1px solid #006f9f;
}

.nav-tabs > li > a:hover{
background:#cd3301;
}

.about .asocial i{
background:#cd3301;
}

.resume h4{
background:#cd3301;
}

.resume h5{
color:#cd3301;
}

footer{
	border-top:3px solid #cd3301;
	background-color: #cd3301;
}

footer ul li{
background-image:url('../img/list-y.png');
}