/* Green Color CSS */

body{
border-top:3px solid #5c8f27;
}

.color{
color:#5c8f27;
}

a, a:visited{
color:#5c8f27;
}

a:hover{
color:#60a718;
}

.navbar{
background: #5c8f27 !important;
border-top:1px solid #60a718 !important;
border-bottom:1px solid #60a718 !important; 
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
   border-color: #5b7c39;
}

.navbar button{
	background:#60a718 !important;  
}

.navbar button:hover{
	background:#60a718 !important;
}

.navbar .nav{
border-right:1px solid #5b7c39;
}

.navbar .nav > li > a{
background: #5c8f27; 
border-left:1px solid #5b7c39;
}

.navbar .nav > li > a:hover{
background:#60a718 !important;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
background: #60a718 !important;
}

.dropdown-toggle{
background: #5c8f27 !important;
}


.dropdown-menu{
background:#5c8f27 !important;
border:1px solid #60a718;
}

.dropdown-menu a{
background:#5c8f27 !important;
border-bottom:1px solid #60a718;
}

.dropdown-menu a:hover,.dropdown-menu a:focus{
background:#60a718 !important;
}

.social i{
background:#5c8f27;
}

.social i:hover{
background:#60a718;
}

.flex-caption{
border-left:4px solid #5c8f27;
}

.service i{
color:#5c8f27;
}

/* Timeline */

.time .tidate{
background:#5c8f27;
}

.time .timatter{
border-bottom:2px solid #5c8f27;
}

/* Events - Accordion*/

.events .accordion-heading h5{
background:#5c8f27;
}

/* Slider */

.da-slider{
border-top: 4px solid #5c8f27;
border-bottom: 4px solid #5c8f27;
}

.da-slide h2{
color:#5c8f27;
}

.da-slide .da-link{
background:#5c8f27;
}

/* Testimonial */

.test{
border-bottom:2px solid #5c8f27;
}

.test-arrow{
border-top-color: #5c8f27;
}

/* Feature alt */

.afeature:hover{
border:5px solid #5c8f27;
}

.afmatter i{
color:#5c8f27;
}

.rpost1:hover,.rpost2:hover{
border-bottom:2px solid #5c8f27;
}

.accordion-heading i{
color:#5c8f27;
}

.process i{
color:#5c8f27;
}

.process-meta span{
background:#5c8f27;
}

.feat h4 i{
color:#5c8f27;
}

.content ul li{
background-image:url('../img/list-b.png');
}

.blog .meta i{
color:#5c8f27;
}

.posts .tags a{
background:#5c8f27;
border:1px solid #60a718;
border-bottom:3px solid #60a718;
}

.posts .tags a:hover{
border-bottom:3px solid #5c8f27;
background:#60a718;
border:1px solid #60a718;
}

.paging a:hover{
background: #5c8f27;
border:1px solid #60a718;
}

.paging .current{
background: #5c8f27;
border:1px solid #60a718;
}

.serv .simg i{
color:#5c8f27;
}

.button a, .button a:visited{
background:#5c8f27;
border-bottom:2px solid #60a718;
}

.button a:hover{
background:#60a718;
}

.pricel .phead-top{
background:#5c8f27;
border:1px solid #60a718;
}

.pricel .phead-bottom{
border-top:1px solid #60a718;
}

.nav-tabs > li > a:hover{
background:#5c8f27;
}

.about .asocial i{
background:#5c8f27;
}

.resume h4{
background:#5c8f27;
}

.resume h5{
color:#5c8f27;
}

footer{
border-top:3px solid #5c8f27;
}

footer ul li{
background-image:url('../img/list-b.png');
}
.blog .entry h2 a,
.blog .entry h2 a:visited,
.blog .entry h2 a:hover {
    color: #5c8f27;
}


/* plone ui */
#content-views, #edit-bar,    #contentActionMenus dl.actionMenu a, #contentActionMenus dl.actionMenu.activated dd  {
    background-color: #5c8f27;
}
#contentActionMenus {
    background: none repeat scroll 0 0 #5c8f27;
}
#portal-personaltools {
    margin-top: 0;
}
#portal-personaltools dt a {
    color: #fff;
    border-left: 1px solid #5B7C39;
    border-right: 1px solid #5B7C39;
    display: block;
    font-size: 13px !important;
    padding: 14px 15px;
    text-shadow: none !important;
    transition: background 1s ease 0s;
}
#portal-personaltools dd {
    background-color: #5C8F27;
    margin-left: -4em;
    top: 3.7em;
    border-radius: 0;
}
#portal-personaltools dd a {
    color: #fff;
}
#contentActionMenus dl.actionMenu.activated dd {
    border-bottom: 0.5em solid #75AD0A;
}