/* Theme-specific styling
 */
header {
    padding: 25px 0;
}
.actionMenuContent li a img {
    margin-right: 5px;
}
#searchbox {
    display: none;
}
#searchbox .form-control {
    margin-top: 8px;
    width: 200px;
}
.navbar-default .glyphicon {
    color: #777777;
}
#search {
    margin-right: 5px;
}
#search:hover {
    cursor: pointer;
}
#edit-bar{
    margin-bottom: 2em;
}
.blog .bthumb {
    display: inline-block;
}
.blog .bthumb2{
    float: none;
}
.blog .entry {
    border-bottom: 0px solid white;
}
.flexslider {
    margin: 0 0 20px;
    border-radius: 0 0 0 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}
.flex-caption {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: block;
    left: 0;
    margin: 0;
    padding: 10px;
    position: absolute;
    width: 37%;
}
.flex-caption a {
    color: #ffffff;
}

.blog .entry h2 {
    font-size: 18px;
}
.service i {
    font-size: 14px;
}
.service p {
    font-size: 14px;
    line-height: 20px;
}
.service img {
    margin-bottom: 10px;
}

div.thumbnail {
    margin-right: 1rem;
}
.label {
    color: #000000;
}

iframe .view-cap, .view-container-border {
    background-color: red!important;
}
.breadcrumb {
    padding: 10px 15px 0 15px;
    margin: 45px 0 0;
    background: 0 none;
    border-top: solid 1px #eee;
}
#breadcrumbs-you-are-here {
    padding-right: 5px;
}
/* copy main-box to portlet */
.portlet {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F9F9F9;
    border-color: #EEEEEE;
    border-image: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px 1px 3px;
    padding: 8px 10px;
}
.portletNews .portletItem {
    border-bottom: solid 1px #eeeeee;
}
.portletNews .portletItemDetails {
    display: block;
    padding-left: 1rem;
    font-style: italic;
}
.portlet h4 a {
    color: #666;
}
#partners {
    margin: 20px 0;
}
#funding {
    margin-top: 20px;
}
#partners h3,
#funding {
    margin-bottom: 20px;
}
#funding img {
    margin-right: 10px;
}
.colophon {
    padding : 15px;
    color: #000;
}
.colophon a {
    color: #000;
}
a.managePortletsFallback {
    float: right;
}
p {
    margin: 0px 20px 10px 0;
}
footer {
    background-image: none;
    color: black;
}

.image-left {
    float: left!important;
    padding: 5px 5px 5px 0;
}
.image-right {
    float: right!important;
    padding: 5px 0 5px 5px;
}
.state-private {
    color: red;
}
tr.header {
    font-size: 16px;
    color: #666;
    font-family: "Oswald",sans-serif;
    font-weight: normal;
    margin: 3px 0;
    padding: 3px 0;
}